.container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 32px;
}

.input {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  margin-top: 12px;
  border: 1px solid gray;
  border-radius: 4px;
}

.input:focus,
.input:active {
  border: 1px solid #F2BB13;
  outline: none;
}

/* .error { */
  /* border: 1px solid red; */
/* } */

.error:focus,
.error:active {
  border: 1px solid red;
  outline: none;
}

.errorMessage {
  align-self: flex-start;
  color: red;
  font-size: 12px;
  margin: 0 0 -4px 6px;
}

.authentication {
  align-self: center;
  margin-bottom: 12px;
}

.loginInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  gap: 4px;
}

.loginButton {
  width: 300px;
  height: 40px;
  margin: 12px 0 8px;
  appearance: none;
  border: none;
  border-radius: 4px;
  background-color: #F2BB13;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleLogo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.links {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 24px 0;
  padding-left: 50px;
  gap: 6px;
}

.link:visited,
.link:link {
  font-size: 14px;
  color: gray;
  text-decoration: none;
}

/* .link:not(::after):hover, */
.link:hover,
.link:focus,
.link:active {
  text-decoration: underline;
}

.separator {
  color: gray;
  font-size: 14px;
  margin: 0 4px;
}
